@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background-image: url('../../public/assets/img/bg-star.jpg');
}

.star-bg {
  background-image: url('../../public/assets/img/bg-star.jpg');
}

.scrollbar::-webkit-scrollbar{
  display: none;
}

.transparent {
  font-weight: 600;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent; 
  color: transparent;
}


.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
